* {
    box-sizing: border-box;
}
html {
    body {
        display: flex;
        background: #fff;
        transition: all 1s;
        font: {
            size: 16px;
            weight: 600;
            style: italic;
        }
    }
}